*{
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    height: 90px;
    background-color: aqua;
}
h1 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    text-align: center;
    line-height: 100px;
}
h2 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-align: center;
}
main {
    margin-top: 40px;
    width: 100%;
    background-color: #7c9afd;
}
table {
    margin: 0 auto;
    border-spacing: 25px;
}
#q1 img, #q2 img, #q3 img, #q4 img, #q5 img, #q6 img {
    width: 300px;
    height: 200px;
}
#q2, #q5 {
    background-color: white;
}
.jojo {
    width: 300px;
    height: 320px;
    padding: 15px;
}
a {
    text-decoration: none;
    color: black;
}
p {
    font-family: "Dosis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    text-align: center;
}
